
{% extends 'litRevu/layout.html' %}
{% block content %}
    <p>{{ message }}</p>
    <section id="loginPage">
        <div>
            <h2>Inscrivez-vous maintenant</h2>
                <a href="{% url 'auth:signup' %}" class="registration button">S'inscrire</a>
        </div>
        <div>
            <h2>Connectez-vous</h2>
            <form method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <button type="submit" class="button">Se connecter</button>
            </form>
        </div>
    </section>
{% endblock content %}