<div>
    <div>
        {% if request.user == review.user %}
            <p>Vous avez publié une critique</p>
         {% elif request.user == review.ticket.user %}
            <p><a href="{% url 'litrevu:user_posts' review.user.pk %}">{{ review.user }}</a> a répondu à votre demande</p>
        {% else %}
            <p class="type of post"><a href="{% url 'litrevu:user_posts' review.user.pk %}">{{ review.user }}</a> a publié une critique</p>
         {% endif %}

        <p class="date">{{ review.time_created }}</p>
    </div>
        <p class="review_headline"><b>{{ review.headline }}</b> - {{ review.rating }}</p>
    <p class="review_body"> {{ review.body }}</p>
    <div>
        {% include 'litRevu/_ticket_content.html' with ticket=review.ticket %}
    </div>

     {% if request.user == review.user and not flux %}
       <div>
             <a href="{% url 'litrevu:review_modification' review.pk %}" class="button">Modifier</a>
             <a href="{% url 'litrevu:delete_review' review.pk %}" class="button">Supprimer</a>
       </div>
    {% endif %}


</div>