{% if error_message %}
<p class="sub_error"> {{ error_message }}</p>
{% endif %}

{% if subs %}
    {% for sub in subs %}
        <li class="sub">
            <form action="" hx-delete="{% url 'litrevu:unsubscribe_to' sub.followed_user %}"  hx-target='#sub-table'>
                <a href="{% url 'litrevu:user_posts' sub.followed_user.id %}" class="subscribe_user">{{ sub.followed_user }}</a>
                <a href="{% url 'litrevu:user_posts' sub.followed_user.id %}" class="button">Son contenu</a>
                <button class="unsubscribe_user">Se désabonner</button>
            </form>
        </li>
    {% endfor %}
{% else %}
    <li>Aucun abonnement</li>
{% endif %}

