
<div>
    <div>
        {% if request.user == content.user %}
            <p>Vous avez demandé une critique</p>
        {% else %}
            <p class="type of post">{{ content.user }} a demandé une critique</p>
         {% endif %}

        <p class="date">{{ content.time_created }}</p>
    </div>
    <p class="book_title"><b>{{ content.title }}</b> de {{ content.author }}</p>
    <p class="book_description">{{ content.description }}</p>
    <!--    todo vérifier si le champs est rempli avant d'afficher + afficher l'image plutôt que le lien vers elle!!-->
    {% if content.image %}
    <img src="{{ content.image.url }}" alt="couverture du livre {{ content.title }}">
    {% endif %}
    {% if flux %}
        <a href="{% url 'litrevu:review_creation' content.id %}">En écrire la critique</a>
    {% endif %}
</div>