{% extends 'litRevu/layout.html' %}
    {% block content %}
        <div>
            {% if not flux %}
                {% include 'litRevu/_user_content_nav.html' %}
            {% endif %}

<!--            todo le titre se dupplique partout alors qu'on voudrait un titre ticket, flux, review, etc-->
             <h1>Vos Posts</h1>

                {% for post in page_obj %}
                    {% if post.content_type == "Ticket" %}

                            <article>
                                 {% include 'litRevu/_ticket_content.html' with ticket=post %}
                            </article>
                    {% elif post.content_type == "Reviews" %}
                            <article>
                               <div>
                                   {% include 'litRevu/_review_content.html' with review=post %}
                                </div>
                            </article>
                     {% endif %}
               
                {% endfor %}

            {% include 'litRevu/_page_navigation.html' %}
        </div>

    {% endblock content %}