<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LITReview</title>
</head>
<body>
    <header><h1><a href="{% url 'flux' %}">LITReview</a></h1></header>
    {% if user.is_authenticated %}
            <ul>
                <li><a href="{% url 'flux' %}">Mon Flux</a></li>
                <li><a href="{% url 'litrevu:user_posts' %}">Mes Posts</a></li>
                <li><a href="{% url 'litrevu:sub_page' %}">Gérer mes Abonnements</a></li>
                {% if user.is_superuser %}
                <li>
                    <a href="{% url 'admin:index' %}">Admin</a>
                </li>
                {% endif %}
                <li>
                    <form method="post" action="{% url 'auth:logout' %}">
                  {% csrf_token %}
                  <button type="submit">Se déconnecter</button>
            </form>
                </li>
            </ul>

    {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

    <div>
        <a href="{% url 'litrevu:ticket_creation' %}" class="reviewButton">Demander une critique</a>
        <a href="{% url 'litrevu:ticket_review_creation' %}" class="reviewButton">Écrire une nouvelle critique</a>
    </div>

    {% endif %}
    {% block content %}{% endblock content %}

</body>
</html>