<!DOCTYPE html>
{% load static %}

<link rel="stylesheet" href="{% static 'litRevu/style.css' %}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LITReview</title>
</head>
<body>
    <header>

        <h1><a href="{% url 'flux' %}">LITReview</a></h1>
    {% if user.is_authenticated %}
        <div>                           

            <ul>
                <li><a href="{% url 'flux' %}">Mon Flux</a></li>
                <li><a href="{% url 'litrevu:user_posts' request.user.pk %}">Mes Posts</a></li>
                <li><a href="{% url 'litrevu:sub_page' %}">Mes Abonnements</a></li>                    
            </ul>

            <ul>
                {% if user.is_superuser %}
                    <li><a href="{% url 'admin:index' %}">Admin</a></li>
                {% endif %}
                <li> <a href="{% url 'litrevu:ticket_creation' %}" class="reviewButton">Demander une critique</a></li>
                <li><a href="{% url 'litrevu:ticket_review_creation' %}" class="reviewButton">Écrire une nouvelle critique</a></li>
                <li>
                    <form method="post" action="{% url 'auth:logout' %}">
                        {% csrf_token %}
                        <button type="submit">Déconnexion</button>
                    </form>
                </li>
            </ul>
           
        </div>



    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
        {% endif %}
    </header>
    <main>

        {% block content %}{% endblock content %}
    </main>
</body>
</html>