{% extends 'litRevu/layout.html' %}
{% block content %}
<section>
    {%if own_user %}
        <h1>Modifier une critique</h1>

        <article>
            <p>Réponse au ticket</p>
             {% include 'litRevu/_ticket_content.html' with ticket=review.ticket %}
        </article>

        <form method="post">
            <article>
                 <h1>Critique</h1>
                {% csrf_token %}
                {{ form }}
            </article>

            <button type="submit" >Envoyer</button>
        </form>
    {% else %}
        <h1>Vous n'avez rien à faire ici è_é</h1>
    {% endif %}
</section>
{% endblock content %}
