{% extends 'litRevu/layout.html' %}
    {% block content %}
        <div>
            <ul>
                <li><a href="">Mes tickets</a></li>
                <li><a href=""></a>Mes Critiques</li>
            </ul>
        </div>
        <div>

            <h1>Vos Posts</h1>

            {% if content_exists %}
                {% for post in posts %}
                    {% if post.content_type == "Ticket" %}

                            <article>
                                 {% include 'litRevu/_ticket_content.html' with ticket=post %}
                            </article>
                    {% elif post.content_type == "Reviews" %}
                            <article>
                               <div>
                                   {% include 'litRevu/_review_content.html' with review=post %}
                                </div>
                            </article>
                     {% endif %}
                <div>
                     <a href=""></a>
                     <a href=""></a>
                </div>



                {% endfor %}
                {% else %}
                    <article>
                        Vous n'avez encore rien posté.
                    </article>
            {% endif %}

        </div>

    {% endblock content %}