{% extends 'litRevu/layout.html' %}
    {% block content %}
        <div>

            <h1>Vos Posts</h1>

            {% if content_exists %}
                {% for content in posts %}
<!--                if content == Ticket-->

                        <article>
                             {% include 'litRevu/_ticket_content.html' %}
                        </article>
<!--                   if content == Review -->
<!--                        <article>-->
<!--                            todo {% include 'litRevu/_ticket_content.html' %}-->
<!--                           todo + du html directement ici pour afficher les infos de la review se trouvant également dans content !!!-->
<!--                        </article>-->




                {% endfor %}
                {% else %}
                    <article>
                        Vous n'avez encore rien posté.
                    </article>
            {% endif %}

        </div>

    {% endblock content %}