@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Pacifico&display=swap');

html, body{
        margin: 0;
        padding: 0;
}

html{
        font-family: "Pacifico", cursive;
        text-align: center;
        background-image: url("images/__ETxfU5-big_version_cut.jpeg");
        text-align: center;
	background-size: 100%;
	background-attachment: fixed;
}

header, main{
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
}

header{
        width: 82%;
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        background-image: url("images/__ETxfU5-big_version_cut.jpeg");
        background-size: 122%;
        background-position: top;
	background-attachment: fixed;
        min-height: 150px;
        border-bottom: #fff solid 3px;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
}

main{ 
        color: #fff;
        text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
        width: 80%;
        padding-top: 150px;
        min-height: 700px;
        background-color: rgba(5, 5, 5, 0.5);
        border: #000 solid 1px;
        font-size: 1.2rem;
}

main>section>div>article{
        margin-bottom: 50px;
}

main a {
        color:aquamarine;
}

input, button{
        font-size: 1.2rem;
        font-family: "Pacifico", cursive;
}

section {
        margin-left: auto;
        margin-right: auto;
        width: 60%;
}

h2{
        font-size: 3.2rem;
}

ul{
        padding: 0;
}

li{
        list-style-type: none;
}

a{
        text-decoration: none;
        color: #000;
}

header div{
        display: flex;
        justify-content: space-around;

}


header span{
        width: 33%;
}

header h1{
        
        font-size: 3rem;
        margin: 0;     
}

header h1 a {
        color: #fff;
        text-shadow: #000000 1px 10px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}

header ul{
        width: 33%;
        display: flex;
        justify-content: center;
        margin-bottom: 0;
}

header li{
        background-color: black;
        border: solid #fff 1px;
        border-bottom: 0;
        border-radius: 15px 15px 0 0;
        width: 25%;
        display: flex;
        align-items: stretch;
}

header li a, header button{
        color: #fff;
        text-shadow: #000000 1px 5px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}

header li a, header form{
        margin: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;  
}

header button{
        background: none;
        border: none;
        outline: none;
        box-shadow: none;
        font-family: "Pacifico", cursive;
        width: 100%;
}

header button:hover{
        cursor: pointer;
 }


#loginPage{
        display: flex;
        justify-content: center;
}

#loginPage div{
        padding-top: 100px;
        width: 50%;
}

form p{
        text-align: right;
}


img{
        width: 400px;
}

.reviewTicket{
        display: flex;
}


.reviewTicket img{
        width: 200px;
        margin-left: auto;
        margin-right: auto;
}

.reviewContent, .ticketContent{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
}

.date{
        text-align: right;
}

.reviewHeadline{
        font-size: 1.5rem;
}

.button{
        color: #fff;
        font-size: 1.2rem;
        background-color: #000;
        border: #fff solid 1.2px;
        border-radius: 15px;
        padding: 8px;     
}

.button:hover{
        color: #000;
        background-color: #fff;
        border: #000 solid 1.5px;
        text-shadow: #fff 1px 1px, #fff -1px 1px, #fff -1px -1px, #fff 1px -1px;
        cursor: pointer;
}

#contentNav{
        display: flex;
        justify-content: space-around;
}

#contentNav a{
        font-size: 1.8rem;
}

#pagination{
        margin-top: 50px;
}

#pagination a{
        margin: 1rem;
}

#ticketReviewCreation{
        margin-bottom: 50px;
        width: 100%;
}

#ticketReviewCreation form{
        width: 100%;
}

#signupPage div, #ticketCreation form div, #ticketReviewCreation div{
        margin-left: auto;
        margin-right: auto;
        width: 35%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
} 

#ticketCreation form div input, #ticketCreation form div textarea, #ticketReviewCreation input, #ticketReviewCreation textarea{
        width: 70%;
}

#ticketReviewCreation fieldset{
        margin-left: auto;
        width: 90%;
}



#id_image{
        text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}
