{% extends 'litRevu/layout.html' %}
{% block content %}
<section>
    <h1>Créer une critique</h1>

    <article>
        <p>Vous êtes en train de poster en réponse à</p>
        {% include 'litRevu/_ticket_content.html' with ticket=content %}

    </article>

    <form method="post">

        <article>
             <h1>Critique</h1>
            {% csrf_token %}
            {{ form }}
        </article>

        <button type="submit" >Envoyer</button>
    </form>

</section>
{% endblock content %}
