{% extends 'litRevu/layout.html' %}
{% block content %}
<section id="reviewCreation">
    <h2>Créer une critique</h2>

    <article>
        <p>Vous êtes en train de poster en réponse à</p>
        {% include 'litRevu/_ticket_content.html' with ticket=content %}

    </article>

    <form method="post" id ="reviewCreationForm">

        <article>
             <h2>Critique</h2>
            {% csrf_token %}
            {{ form }}
        </article>

        <button type="submit" class="button">Envoyer</button>
    </form>

</section>
{% endblock content %}
